<!DOCTYPE html>
<html lang="ru">
{% include "../includes/head.twig" %}
<body>
{% include "../includes/header/header.twig" %}
	
{% block content %}{% endblock %}

{% include "../includes/footer.twig" %}

{% include "../includes/modals.twig" %}

{% include "../includes/scripts.twig" %}

</body>
</html>
