<!DOCTYPE html>
<html lang="ru">
{% include "../includes/head.twig" %}
<body class="{{theme}}">
{% include "../includes/header/header.twig" %}
<main class="main-container">	
	{% block content %}{% endblock %}
</main>
{% include "../includes/footer.twig" %}

{% include "../includes/modals.twig" %}

{% include "../includes/scripts.twig" %}

</body>
</html>
