	<section class="advantages-section">
		<div class="uk-container">
			<div class="advantages-section__inner">
				<ul class="advantages-list">
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-1.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Контроль свежести</div>
								<div class="text">
									Мы ставим дату сортировки на каждом яйце, чтобы вы были уверены в его свежести
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-2.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Яркий желток</div>
								<div class="text">
									Благодаря содержанию в корме отборной кукурузы у яиц Лето яркий солнечный желток
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-3.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Натуральный корм</div>
								<div class="text">
									Основу корма куриц составляет натуральная пшеница, кукуруза, соевые бобы, а также подсолнечник
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-4.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Куры несушки лучших пород</div>
								<div class="text">
									Hisex Brown — голландская порода куриц-несушек, одна из самых популярных в мире
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-5.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Двойной контроль</div>
								<div class="text">
									Только в марке Лето двойной контроль качества продукции перед упаковыванием
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-6.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Размер — CО и С1</div>
								<div class="text">
									Используются столовые яйца отборной и первой категории (СО и С1)
								</div>
							</div>
							<a href="#" class="advantage-item__link">
								Подробнее про шкалу размеров
							</a>
						</div>
					</li>
				</ul>
				<div class="center-box">
					<svg width="100%" height="100%" class="yellow-ellipse-1">
					  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-3"></use>
					</svg>
					<svg width="100%" height="100%" class="yellow-ellipse-2">
					  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-4"></use>
					</svg>
					<img src="img/media/advantage-img/egg-green.png" alt="">
				</div>
			</div>
		</div>
	</section>
