{% if theme == 'green' %}
	<section class="advantages-section">
		<div class="uk-container">
			<div class="advantages-section__inner">
				<ul class="advantages-list advantages-list--six-items">
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-1.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Контроль свежести</div>
								<div class="text">
									Мы ставим дату сортировки на каждом яйце, чтобы вы были уверены в его свежести
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-2.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Яркий желток</div>
								<div class="text">
									Благодаря содержанию в корме отборной кукурузы у яиц Лето яркий солнечный желток
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-3.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Натуральный корм</div>
								<div class="text">
									Основу корма куриц составляет натуральная пшеница, кукуруза, соевые бобы, а также подсолнечник
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-4.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Куры несушки лучших пород</div>
								<div class="text">
									Hisex Brown — голландская порода куриц-несушек, одна из самых популярных в мире
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-5.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Двойной контроль</div>
								<div class="text">
									Только в марке Лето двойной контроль качества продукции перед упаковыванием
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-6.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Оптимальный размер</div>
								<div class="text">
									Используются столовые яйца отборной и первой категории (СО и С1)
								</div>
								<a href="#" class="advantage-item__link">
									Подробнее про шкалу размеров
								</a>
							</div>

						</div>
					</li>
				</ul>
				<div class="center-box">
					<svg width="100%" height="100%" class="yellow-ellipse-1">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-3"></use>
					</svg>
					<svg width="100%" height="100%" class="yellow-ellipse-2">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-4"></use>
					</svg>
					<img src="img/media/advantage-img/egg-green.png" alt="">
				</div>
			</div>
		</div>
	</section>
{% endif %}


{% if theme == 'blue' %}
	<section class="advantages-section advantages-section--blue">
		<div class="uk-container">
			<div class="advantages-section__inner">
				<ul class="advantages-list advantages-list--four-items">
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-15.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Самое большое содержание белка</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-16.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Натурально и вкусно как в деревне</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-17.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Выбор мужской аудитории по исследованиям потребителей</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-6"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-18.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Только самые крупные яйца используются в производстве марки (СВ и СО)</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="center-box">
					<svg width="100%" height="100%" class="yellow-ellipse-1">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-3"></use>
					</svg>
					<svg width="100%" height="100%" class="yellow-ellipse-2">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-4"></use>
					</svg>
					<img src="img/media/advantage-img/egg-blue.png" alt="">
				</div>
			</div>
		</div>
	</section>
{% endif %}

{% if theme == 'pink' %}
	<section class="advantages-section advantages-section--pink">
		<div class="uk-container">
			<div class="advantages-section__inner">
				<ul class="advantages-list advantages-list--five-items">
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-19.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Максимум пользы при небольшом размере</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-20.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Яйца только от самых молодых и активных курочек (С2)</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-21.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Белки лучше взбиваются в густую пену и держат форму</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-22.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Куры несушки Hisex Brown</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-23.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Любимые персонажи на упаковке</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="center-box">
					<svg width="100%" height="100%" class="yellow-ellipse-1">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-3"></use>
					</svg>
					<svg width="100%" height="100%" class="yellow-ellipse-2">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-4"></use>
					</svg>
					<img src="img/media/advantage-img/egg-pink.png" alt="">
				</div>
			</div>
		</div>
	</section>
{% endif %}


{% if theme == 'brown' %}
	<section class="advantages-section advantages-section--blue">
		<div class="uk-container">
			<div class="advantages-section__inner">
				<ul class="advantages-list advantages-list--four-items">
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-25.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Качество по разумной цене</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-24.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Основной продукт в рационе семьи и незаменимый в кулинарии</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-26.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Производство в соответствии
									<br>
									с ГОСТ 31654-2012</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-6"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-27.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Широкий ассортимент категорий (СО, С1, С2, С3)</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="center-box">
					<svg width="100%" height="100%" class="yellow-ellipse-1">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-3"></use>
					</svg>
					<svg width="100%" height="100%" class="yellow-ellipse-2">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-4"></use>
					</svg>
					<img src="img/media/advantage-img/egg-brown-2.png" alt="">
				</div>
			</div>
		</div>
	</section>
{% endif %}

{% if theme == 'chicken' %}
	<section class="advantages-section">
		<div class="uk-container">
			<div class="advantages-section__inner">
				<ul class="advantages-list advantages-list--five-items">
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-3.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Выращена на натуральных кормах без стимуляторов роста и гормонов</div>
								<div class="text"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-28.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Идеальный ароматный и наваристый бульон</div>
								<div class="text"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-29.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3"><br>Диетический продукт, богатый белком и с минимальным содержанием жира*</div>
								<div class="text">
									* для полной готовности суповую курицу необходимо варить в течение 2-2,5 часов
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-30.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3">Более
									<br>
									привлекательная
									<br>
									цена</div>
								<div class="text"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="advantage-item">
							<div class="advantage-item__img">
								<svg width="100%" height="100%" class="">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-31.svg" alt="" uk-img>
							</div>
							<div class="advantage-item__text">
								<div class="title-h3"><br>Превосходные
									<br>
									вкусовые качества</div>
								<div class="text"></div>
							</div>
						</div>
					</li>
				</ul>
				<div class="center-box">
					<svg width="100%" height="100%" class="yellow-ellipse-1">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-3"></use>
					</svg>
					<svg width="100%" height="100%" class="yellow-ellipse-2">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#yellow-ellipse-4"></use>
					</svg>
					<img src="img/media/advantage-img/chicken-meat-box.png" alt="">
				</div>
			</div>
		</div>
	</section>
{% endif %}
