	<!-- begin brands-slider -->
	<div class="brands-slider preload">
		<h2 class="uk-text-center" uk-scrollspy="cls:slide-up">Купить онлайн</h2>
		<div class="uk-container" uk-scrollspy="cls:slide-up; delay: 300">
			<div class="slider">
				<div class="slide"><a href=""><img data-lazy="img/media/sliders/slider-brand-img-1.svg" alt=""></a></div>
				<div class="slide"><a href=""><img data-lazy="img/media/sliders/slider-brand-img-2.svg" alt=""></a></div>
				<div class="slide"><a href=""><img data-lazy="img/media/sliders/slider-brand-img-3.svg" alt=""></a></div>
				<div class="slide"><a href=""><img data-lazy="img/media/sliders/slider-brand-img-4.svg" alt=""></a></div>
				<div class="slide"><a href=""><img data-lazy="img/media/sliders/slider-brand-img-3.svg" alt=""></a></div>
			</div>
			<div class="slider__arrows">
				<div class="slide-prev">
					<svg width="52px" height="27px" class="slider-arrow">
					  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#arrow-left"></use>
					</svg>
				</div>
				<div class="slide-next">
					<svg width="52px" height="27px" class="slider-arrow">
					  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#arrow-right"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<!-- end  brands-slider -->
