	<!-- begin brands-slider -->
	<div class="brands-slider preload">
		<div class="uk-container">
			<div class="slider">
				<div class="slide"><a href=""><img data-lazy="img/media/box-type-2.png" alt=""></a></div>
				<div class="slide"><a href=""><img data-lazy="img/media/box-type-3.png" alt=""></a></div>
				<div class="slide"><a href=""><img data-lazy="img/media/box-type-4.png" alt=""></a></div>
				<div class="slide"><a href=""><img data-lazy="img/media/box-type-5.png" alt=""></a></div>
				<div class="slide"><a href=""><img data-lazy="img/media/box-type-6.png" alt=""></a></div>
			</div>
			<div class="slider__arrows">
				<div class="slide-prev"><i class="icon-arrow-left"></i></div>
				<div class="slide-next"><i class="icon-arrow-right"></i></div>
			</div>
		</div>
	</div>
	<!-- end  brands-slider -->
