
<section class="composition-section wave-bg" uk-scrollspy="cls: wave-anim">
	<div class="uk-container uk-container--small">
		<h2 class="uk-text-center" uk-scrollspy="cls:slide-up">Какие элементы содержит яйцо?</h2>
		{% include './composition-slider.twig' %}
		<p>
			Ниже представлены таблицы химического состава и диаграммы, из которых Вы можете узнать какая пищевая ценность, какие витамины, минералы, и сколько калорий содержится в данном продукте питания. Со временем Вам достаточно будет одного взгляда на графики, чтобы понять питательную ценность пищи.В таблицах приводятся данные %РСП.
		</p>
		<a href="" class="green-link">Подробнее</a>
		<a href="" class="btn btn--yellow uk-margin-auto" uk-scrollspy="cls:slide-up"><span>Посмотреть все факты о яйце</span></a>
	</div>
</section>
