
<section class="composition-section wave-bg" uk-scrollspy="cls: wave-anim">
	<div class="uk-container uk-container--small">
		<h2 class="uk-text-center" uk-scrollspy="cls:slide-up">Какие элементы содержит яйцо?</h2>
		{% include './composition-slider.twig' %}
		<a href="" class="btn btn--yellow uk-margin-auto" uk-scrollspy="cls:slide-up"><span>Посмотреть все факты о яйце</span></a>
	</div>
</section>
