<!-- begin composition-slider -->
<div class="custom-slider">
	<div class="uk-container">
		<div class="slider">
			<div class="slide">
				<img data-lazy="img/media/sliders/composition-slide.png" alt="Состав яйца">
				<div class="custom-slider__text">
					<p>
						Ниже представлены таблицы химического состава и диаграммы, из которых Вы можете узнать какая пищевая ценность, какие витамины, минералы, и сколько калорий содержится в данном продукте питания. Со временем Вам достаточно будет одного взгляда на графики, чтобы понять питательную ценность пищи.В таблицах приводятся данные %РСП.
					</p>
					<a href="" class="green-link">Подробнее</a>
				</div>
			</div>
			<div class="slide">
				<img src="img/media/sliders/composition-slide.svg" alt="Состав яйца">
			</div>
		</div>
		<div class="slider__arrows">
			<div class="slide-prev">
				<svg width="154px" height="29px" class="slider-arrow">
				  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#big-arrow-left"></use>
				</svg>
			</div>
			<div class="slide-next">
				<svg width="154px" height="29px" class="slider-arrow">
				  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#big-arrow-right"></use>
				</svg>
			</div>
		</div>
	</div>
</div><!-- end composition-slider -->
