
<div class="egg-slider">
	<div class="slider">
		<div class="slide">
			<div class="uk-grid uk-child-width-1-3@m uk-child-width-1-2" uk-grid>
				<div class="slide-section">
					<div class="slide-section__img"></div>
					<div class="slide-section__timer">
						<div class="circle-timer">
							<div class="circle-timer__outer"></div>
							<div class="circle-timer__inner">
								<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
									<circle cx="25" cy="25" r="25" width="1px" fill="#ffffff" stroke="#ffb422" stroke-width="2px"></circle>
								</svg>

							</div>
							<div class="circle-timer__value">2</div>
						</div>
						<div class="text">Минуты</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 157 = 60
x = 2

157*2/60 -->
<!-- <svg width="50px" height="50px" viewbox="0 0 50px 50px" xmlns="http://www.w3.org/2000/svg">
	<circle cx="23" cy="23" r="23" width="1px" fill="#ffffff" stroke="#ffb422" stroke-width="2px"></circle>
</svg>
 -->
