<ul class="uk-pagination uk-flex-center">
	<li class="uk-pagination-prev">
		<a href="#">
			<svg width="40px" height="16px" class="icon-arrow-small">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#arrow-left-small"></use>
			</svg>
			<span>Предыдущая</span>
		</a>
	</li>

	<li class="uk-active">
		<span>1</span>
	</li>

	<li>
		<a href="#">2</a>
	</li>
	<li>
		<a href="#">3</a>
	</li>
	<li>
		<a href="#">...</a>
	</li>
	<li>
		<a href="#">12</a>
	</li>

	<li class="uk-pagination-next">
		<a href="#">
			<span>Следующая</span>
			<svg width="40px" height="16px" class="icon-arrow-small">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#arrow-right-small"></use>
			</svg>
		</a>
	</li>

</ul>
