	<!-- begin steps-work-section -->
	<section class="steps-work-section">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center" uk-scrollspy="cls: slide-up;">Как у нас всё устроено</h2>
			<div class="steps-work-section__inner" uk-scrollspy="cls: slide-up">
				<ul class="steps-list" uk-scrollspy="target: .round-item; cls: slide-right; delay: 300">
					<li>
						<div class="round-item">
							<div class="round-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-11"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-10.svg" alt="" uk-img>
							</div>
							<div class="round-item__text">
								<div class="title-h3">Производство <br> кормов</div>
							</div>
						</div>
					</li>
					<li>
						<div class="round-item">
							<div class="round-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-6"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-11.svg" alt="" uk-img>
							</div>
							<div class="round-item__text">
								<div class="title-h3">Выращивание <br> и содержание <br> кур несушек</div>
							</div>
						</div>
					</li>
					<li>
						<div class="round-item">
							<div class="round-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-3"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-12.svg" alt="" uk-img>
							</div>
							<div class="round-item__text">
								<div class="title-h3">Сбор яиц <br> с птичников</div>
							</div>
						</div>
					</li>
					<li>
						<div class="round-item">
							<div class="round-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-9"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-13.svg" alt="" uk-img>
							</div>
							<div class="round-item__text">
								<div class="title-h3">Сортировка и упаковка <br> продукции</div>
							</div>
						</div>
					</li>
					<li>
						<div class="round-item">
							<div class="round-item__img">
								<svg width="100%" height="100%" class="">
								  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-12"></use>
								</svg>
								<img data-src="img/media/advantage-img/advantage-img-14.svg" alt="" uk-img>
							</div>
							<div class="round-item__text">
								<div class="title-h3">Доставка продукции до магазинов</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section><!-- end steps-work-section -->
