
<section class="time-section" style="display: none;">
	<div class="uk-container uk-container--small">
		<h2 class="uk-text-center">Сколько времени варить яйца?</h2>
		<a href="/timer.html" class="btn btn--icon uk-margin-auto icon-clock"><span>попробуйте наш таймер</span></a>
		{% include './eggs-slider.twig' %}
	</div>
</section>
