{% if theme == "green" %}

	<div class="typebox-section wave-bg" uk-scrollspy="cls: wave-anim">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center" uk-scrollspy="cls:slide-up">Виды упаковки</h2>

			<ul class="typebox-list" uk-scrollspy="target: .item; cls: slide-right; delay: 300">

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-1.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">На семью из 3-4 человек</div>
						<div class="item__subtitle">20 яиц С1 (55-64,9 грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-2"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-2.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Упаковка премиум класса</div>
						<div class="item__subtitle">10 яиц С1 (55-64,9 грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-3"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-3.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Упаковка премиум класса</div>
						<div class="item__subtitle">10 яиц С0 (65-74,9 грамм)</div>
					</div>
				</li>

			</ul>

		</div>
	</div>

{% endif %}

{% if theme == "blue" %}
	<div class="typebox-section wave-bg" uk-scrollspy="cls: wave-anim">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center" uk-scrollspy="cls:slide-up">Виды упаковки</h2>

			<ul class="typebox-list" uk-scrollspy="target: .item; cls: slide-right; delay: 300">

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-4.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Крупные, насколько это только возможно!</div>
						<div class="item__subtitle">10 яиц СВ (75+ грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-2"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-5.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Большие и натуральные</div>
						<div class="item__subtitle">10 яиц СО (65-74,9 грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-3"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-6.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Еще больше в одной упаковке</div>
						<div class="item__subtitle">15 яиц СО (65-74,9 грамм) </div>
					</div>
				</li>

			</ul>

		</div>
	</div>
{% endif %}

{% if theme == "pink" %}
	<div class="typebox-section wave-bg" uk-scrollspy="cls: wave-anim">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center" uk-scrollspy="cls:slide-up">Виды упаковки</h2>

			<ul class="typebox-list" uk-scrollspy="target: .item; cls: slide-right; delay: 300">

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-17.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Junior 15 C2 <br> — для самых активных</div>
						<div class="item__subtitle">10 яиц СВ (75+ грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-7.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Junior 15 C2 <br> — для самых активных</div>
						<div class="item__subtitle">15 яиц С2 (45-54,9 грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-18.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Junior 15 C2 <br> — для самых активных</div>
						<div class="item__subtitle">15 яиц СО (65-74,9 грамм)</div>
					</div>
				</li>
			</ul>

		</div>
	</div>
{% endif %}

{% if theme == "brown" %}
	<div class="typebox-section wave-bg" uk-scrollspy="cls: wave-anim">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center" uk-scrollspy="cls:slide-up">Виды упаковки</h2>

			<ul class="typebox-list typebox-list--four-elements" uk-scrollspy="target: .item; cls: slide-right; delay: 300">

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-8.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Вторая категория</div>
						<div class="item__subtitle">10 яиц (45-54,9 грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-2"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-9.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Первая категория</div>
						<div class="item__subtitle">10 яиц (55-64,9 грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-3"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-10.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Отборная категория</div>
						<div class="item__subtitle">10 яиц (65-74,9 грамм)</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-3"></use>
							</svg> 
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-11.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Третья категория</div>
						<div class="item__subtitle">20 яиц (35-44,9 грамм)</div>
					</div>
				</li>

			</ul>

		</div>
	</div>
{% endif %}
