/*______ SLIDERS ______*/

.slider__arrows {
	.slide-prev {
		&:hover {
			svg {
				fill: $salat !important;
				stroke: $salat !important;
			}
		}
	}
}

.brands-slider {
	@media (min-width: $mob-xs) {
		margin-bottom: 60px;
	}
	@media (min-width: $tablet-w) {
		margin-bottom: 90px;
	}
	@media (min-width: $desk-w) {
		margin-bottom: 130px;
	}
	.uk-container {
		position: relative;
	}
	.slick-track {
		margin: 0 auto;
	}
	.slider {
		& > button {
			display: none !important;
		}
		&__arrows {
			position: absolute;
			top: 50%;
			left: 30px;
			transform: translateY(-50%);
			width: 100%;
			z-index: 650;
			@media (min-width: $mob-xs) {
				display: none;
			}
			@media (min-width: $desk-w) {
				display: block;
				//max-width: 1140px;
				max-width: calc(100% - 30px);
			}
			@media (min-width: 1360px) {
				//max-width: 1300px;
			}
		}
		.slide {
			a {
				display: flex;
				width: 100%;
				justify-content: center;
				align-items: center;
				@media (min-width: $mob-xs) {
					height: 60px;
				}
				@media (min-width: $mob-s) {
					height: 80px;
				}
				@media (min-width: $tablet-w) {
					height: 100px;
				}
				img {
					max-width: 90%;
					@media (min-width: $mob-s) {
						max-width: 70%;
					}
				}
			}
		}
		.slick-dots {
			bottom: -25px;
			@media (min-width: $tablet-w) {
				bottom: -50px;
			}
			li {
				width: auto;
				height: auto;
				button {
					padding: 0;
					width: 10px;
					height: 10px;
					transform: scale(0.5);
					border-radius: 50%;
					background-color: $bgColorUI;
					transition: transform 0.3s, background-color 0.3s,
						box-shadow 0.2s ease-in;
					&:before {
						display: none;
					}
				}
				&.slick-active {
					button {
						background-color: $yellow;
						transform: scale(1);
						box-shadow: 0px 4px 4px rgba(255, 167, 34, 0.25);
					}
				}
			}
		}
	}
	.slide-prev,
	.slide-next {
		position: absolute;
		top: 50%;
		display: flex;
		transform: translateY(-50%);
		cursor: pointer;
	}

	.slide-prev {
		left: 0;
		@media (min-width: 1460px) {
			left: -5%;
		}
	}

	.slide-next {
		right: 30px;
		@media (min-width: 1460px) {
			right: -5%;
		}
	}
}

.composition-slider {
	.uk-container {
		position: relative;
	}
	.slider {
		height: 500px;
		overflow: hidden;
		transition: height 1s ease;
		&.slick-initialized {
			height: auto;
			overflow: visible;
		}
		button {
			width: 0;
			height: 0;
			&:before {
				display: none;
			}
		}
		&__arrows {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			z-index: 650;
			@media (min-width: 1460px) {
				max-width: 1300px;
			}
		}
	}
	.slide-prev,
	.slide-next {
		position: absolute;
		top: 50%;
		display: flex;
		transform: translateY(-50%);
		cursor: pointer;
		svg {
			width: 100px;
			@media (min-width: 1460px) {
				width: 154px;
				height: 29px;
			}
		}
	}

	.slide-prev {
		left: 0;
		@media (min-width: 1460px) {
			left: -200px;
		}
	}

	.slide-next {
		right: 0;
		@media (min-width: 1460px) {
			right: -200px;
		}
	}
}

.custom-slider {
	position: relative;
	.uk-container {
		position: relative;
	}
	.slider {
		height: 500px;
		overflow: hidden;
		transition: height 1s ease;
		&.slick-initialized {
			height: auto;
			overflow: visible;
			~ .slider__arrows {
				display: block;
			}
		}
		.slide {
			position: relative;
			text-align: center;
			img {
				display: inline-block;
				border-radius: 36px;
			}
		}
		button {
			width: 0;
			height: 0;
			&:before {
				display: none;
			}
		}
		&__arrows {
			display: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			z-index: 650;
			@media (min-width: $mob-xs) {
				top: -30px;
			}
			@media (min-width: $tablet-w) {
				top: 50%;
			}
			@media (min-width: 1460px) {
				max-width: 1300px;
			}
		}
	}
	.slide-prev,
	.slide-next {
		position: absolute;
		top: 50%;
		display: flex;
		transform: translateY(-50%);
		cursor: pointer;
		svg {
			height: 29px;
			@media (min-width: $mob-xs) {
				width: 60px;
			}
			@media (min-width: $tablet-w) {
				width: 100px;
			}
			@media (min-width: 1460px) {
				width: 154px;
				height: 29px;
			}
		}
	}

	.slide-prev {
		left: 0;
		@media (min-width: $desk-w) {
			left: -50px;
		}
		@media (min-width: 1460px) {
			left: -200px;
		}
	}

	.slide-next {
		right: 0;
		@media (min-width: $desk-w) {
			right: -50px;
		}
		@media (min-width: 1460px) {
			right: -200px;
		}
	}
	&__text {
		margin-top: 50px;
		text-align: left;
		a {
			color: $green;
		}

		&--small {
			margin: 0 auto;
			max-width: 525px;
		}
	}
	&--three-elements {
		.slick-list {
			margin: 0 -20px;
		}
		.slick-slide {
			margin: 0 20px;
		}
		.slider {
			.slide {
				text-align: left;
			}
		}
		.recipe-post__img {
			img {
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:before {
				display: none !important;
			}
		}
	}

	.recipe-post--big {
		max-width: 580px;
		margin: 0 auto;
	}
}

.wave-bg {
	.slider {
		.slide {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: #faf4ef;
				z-index: -1;
			}
			img {
				display: inline-block;
				border-radius: 36px;
				mix-blend-mode: multiply;
			}
		}
	}
}

/*______ Tab slider ______*/

.tab-slider {
	margin: 0 auto;
	padding-top: 50px;
	max-width: 920px;
	.brands-grid {
		.row {
			margin-bottom: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			text-align: center;
			@media (min-width: $desk-w) {
				flex-wrap: nowrap;
			}
			img {
				margin: 0 10px 20px;
				display: inline-block;
				max-height: 100px;
				position: relative;
				@for $i from 1 through 6 {
					&:nth-child(#{$i}) {
						top: 20px + $i * (-15);
					}
				}
			}
			&:nth-child(1) {
				img {
					max-width: 200px;
				}
			}
			&:nth-child(2) {
				img {
					max-width: 180px;
				}
			}
			&:nth-child(3) {
				img {
					max-width: 150px;
				}
			}
			&:nth-child(4) {
				img {
					max-width: 120px;
				}
			}
		}
	}
	.slick-dots {
		bottom: -25px;
		@media (min-width: $tablet-w) {
			bottom: -50px;
		}
		li {
			margin: 0 15px;
			width: auto;
			height: auto;
			button {
				padding: 0;
				width: 10px;
				height: 10px;
				transform: scale(0.5);
				border-radius: 50%;
				background-color: $bgColorUI;
				transition: transform 0.3s, background-color 0.3s,
					box-shadow 0.2s ease-in;
				&:before {
					display: none;
				}
			}
			&.slick-active {
				button {
					background-color: $yellow;
					transform: scale(1);
					box-shadow: 0px 4px 4px rgba(255, 167, 34, 0.25);
				}
			}
		}
	}
}

/*______ End Tab slider ______*/

/*______ END SLIDERS ______*/
