
/*______ About egg ______*/

	.about-egg {
		@media (min-width: $mob-xs) {
			margin-bottom: 50px;
		}
		@media (min-width: $tablet-w) {
			margin-bottom: 80px;
		};
		@media (min-width: $desk-w) {
			margin-bottom: 100px;
		};
		&__img {
			margin-bottom: 40px;
		}
		&__text {
			margin:  0 auto;
			max-width: 770px;
			font-size: 20px;
			line-height: 24px;
			font-weight: bold;
			font-family: $secondFont;
		}
	}

/*______ End About egg ______*/
