/*______ Advantages list ______*/

.advantages-section {
	margin-bottom: 40px;
	@media (min-width: $desk-w) {
		margin-bottom: 115px;
	};
	&__inner {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@media (min-width: $desk-w) {
			padding: 400px 0;
			width: 100%;
			min-height: 850px;
		};
	}
	.center-box {
		position: relative;
		margin: 50px 0;
		z-index: 800;
		transition: opacity .4s ease-out;
		@media (min-width: $mob-xs) {
			display: none;
		};
		@media (min-width: $desk-w) {
			display: block;
			opacity: 0;
		};
		img {
			position: relative;
			z-index: 500;
		}
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1);
			width: 100%;
			height: 100%;
			z-index: 400;
			transition: all .65s ease 2.5s;
		}
		@media (min-width: $desk-w) {
			margin: 0
		};
		&.show {
			opacity: 1;
			@media (min-width: $desk-w) {
				svg {
					transform: translate(-50%, -50%) scale(1);
					&.yellow-ellipse-1 {
						animation: scale 3s ease forwards, rotate-back 30s linear infinite 3s;
					}
					&.yellow-ellipse-2 {
						animation: scale 3s ease forwards, rotate 36s linear infinite 3s;
					}
				}
			};
		}
	}
}


.advantages-list {

	width: 100%;
	height: 100%;
	@include list-reset;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	vertical-align: top;
	counter-reset: item;
	@media (min-width: $desk-w) {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: block;
	};
	li {
		position: relative;
		transition: opacity .3s, transform 1.2s, top 1.2s, bottom 1.2s, left 1.2s, right 1.2s ease-out;
		will-change: transform top bottom left right;
		width: 100%;
		max-width: 230px;
		margin: 0 auto;
		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			counter-increment: item;	
			content: "0"counter(item);
			transform: translateY(-50%);
			z-index: 500;
		}
		@media (min-width: $desk-w) {
			position: absolute;
			width: 300px;
			min-height: 200px;
			opacity: 0;
			max-width: 100%;
			&:nth-child(1) {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition-delay: .3s;
			}
			&:nth-child(2) {
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
				transition-delay: .6s;
			}
			&:nth-child(3) {
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
				transition-delay: .9s;
			}
			&:nth-child(4) {
				bottom: 50%;
				left: 50%;
				transform: translate(-50%, 50%);
				transition-delay: 1.2s;
				width: 355px;
				.advantage-item__img {
					right: 50%;
					transform: translateX(50%);
				}
			}
			&:nth-child(5) {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition-delay: 1.5s;
			}
			&:nth-child(6) {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition-delay: 1.8s;
			}
		}
	};
	&.show {
		@media (min-width: $desk-w) {
			li {
				opacity: 1;
				&:nth-child(1) {
					top: 0;
					transform: translate(-50%, 25%);
				}
				&:nth-child(2) {
					right: 0;
					transform: translate(0, -75%);
				}
				&:nth-child(3) {
					right: 0;
					transform: translate(-25%, 50%);
				}
				&:nth-child(4) {
					bottom: 0;
					transform: translate(-75%, 10%);
				}
				&:nth-child(5) {
					left: 0;
					transform: translate(0, 50%);
				}
				&:nth-child(6) {
					left: 0;
					transform: translate(0, -100%);
				}
			}
		};

	}
}


.advantage-item {
	position: relative;
	padding-top: 160px;
	max-width: 230px;
	margin: 0 auto;
	@media (min-width: $desk-w) {
		margin: 0;
		max-width: none;
	};
	&__img {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		z-index: 100;
		@media (min-width: $desk-w) {
			position: absolute;
			top: 0;
			right: 0;
			padding-top: 20px;
			width: 230px;
			height: 230px;
		};
		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 14;
			color: #faf4ef;
		}
		img {
			position: relative;
			z-index: 15;
		}
	}
	&__text {
		position: relative;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 22px;
		z-index: 150;
	}
	&__link {
		color: #9bc045;
		font-size: 14px;
		&:hover {
			text-decoration: none;
			color: #9bc045;
		}
	}
}

/*______ End Advantages list ______*/
