/*______ MAIN CONTENT ______*/

.advantages-h-section {
	@media (min-width: $mob-xs) {
		margin-bottom: 60px;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 90px;
	};
	@media (min-width: $desk-w) {
		margin-bottom: 130px;
	};
}

.slider-section {
	@media (min-width: $mob-xs) {
		margin-bottom: 60px;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 90px;
	};
	@media (min-width: $desk-w) {
		margin-bottom: 130px;
	};
}

/*______ END MAIN CONTENT ______*/
