/*______ Main Banner ______*/

.main-banner {
	position: relative;
	&>.uk-container {
		@media (min-width: $mob-xs) {
			padding: 0;
		};
		@media (min-width: $tablet-w) {
			padding: 0 15px;
		};
	}
	&__img {
		position: relative;
		padding-top: 100%;
		background-repeat: no-repeat;
		background-position: center 0;
		@media (min-width: $mob-s) {
			padding-top: 80%;
		};
		@media (min-width: $tablet-w) {
			padding-top: 50%;
		};
		&.border-anim {
			img {
				border-radius: 0% 0% 100% 100% / 0 0 50% 50%;
				//border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
			}
		}
		img {
			transition: border-radius 1s linear;
			transition-delay: 1s;
			border-radius: 0% 0% 100% 100% / 0 0 0% 0%;
		}
		svg {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100px;
		}
	}
	&__arrow-down {
		animation: move-toggle 1.45s linear infinite;
	}
	&__text {
		position: absolute;
		top: 0;
		left: 50%;
		padding: 11%;
		color: $white;
		text-align: center;
		transform: translateX(-50%);
	}
	&__title {
		max-width: 640px;
		margin: 0 auto 30px;
		text-align: center;
		h1 {
			color: $white;
		}
	}
	&__subtitle {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 24px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .8px;
	}
	svg {
		color: $yellow;
	}
}

.fly-box {
	position: absolute;
	left: 50%;
	
	transform: translateX(-50%);
	z-index: 980;
	min-width: 320px;
	@media (min-width: $mob-xs) {
		bottom: -120px;
	};
	@media (min-width: $tablet-w) {
		bottom: -240px;
	};
	@media (min-width: $desk-w) {
		visibility: hidden;
	};
	&.uk-visible {
		visibility: visible;
	}
	img {
		opacity: 1;
		transition: opacity .5s, visibility .5s ease;
	}
	&.hidden {
		img {
			@media (min-width: $desk-w) {
				opacity: 0;
				visibility: hidden;
			};
		}
	}
}

/*______ End Main Banner ______*/
