/*______ Main Banner ______*/


.main-banner {
	position: relative;
	margin-bottom: 70px;
	&>.uk-container {
		@media (min-width: $mob-xs) {
			padding: 0;
		};
		@media (min-width: $tablet-w) {
			padding: 0 15px;
		};
	}
	&__img {
		position: relative;
		padding-top: 100%;
		background-repeat: no-repeat;
		background-position: center 0;
		overflow: hidden;
		.img-mask {
			position: absolute;
			left: -1px;
			right: 1px;
			bottom: 0;
			width: 110%;
			height: 100px;
			fill: #ffffff;
			display: none;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -2.5%;
			width: 105%;
			height: 100px;
			background: url('../img/ui/mask3.svg') 0 0 no-repeat;
			background-size: 100%;
			transform: translateY(100px);
			transition: transform .8s ease 1.5s;
			will-change: transform;
		}
		@media (min-width: $mob-s) {
			padding-top: 80%;
		};
		@media (min-width: $tablet-w) {
			padding-top: 50%;
		};
		&.border-anim {
			&:after {
				@media (min-width: $mob-xs) {
					transform: translateY(53%);
				};
				@media (min-width: 768px) {
					transform: translateY(15px);
				};
			}
		}
		img {
			transition: border-radius 1s linear;
			transition-delay: 1s;
			border-radius: 0% 0% 100% 100% / 0 0 0% 0%;
		}
		svg {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100px;
		}
	}
	&__arrow-down {
		animation: move-toggle 1.45s linear infinite;
	}
	&__text {
		position: absolute;
		top: 0;
		left: 50%;
		padding: 11%;
		color: $white;
		text-align: center;
		transform: translateX(-50%);
		@media (min-width: $mob-xs) {
			padding: 11% 0;
		};
	}
	&__title {
		max-width: 980px;
		margin: 0 auto 30px;
		text-align: center;
		h1 {
			color: $white;
			@media (min-width: $mob-xs) and (max-width: $mob-s) {
				font-size: 40px;
				line-height: 40px;
			};
		}
	}
	&__subtitle {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 24px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .8px;
	}
	svg {
		color: $yellow;
		@media (min-width: $mob-xs) {
			height: 42px;
		};
		@media (min-width: $mob-s) {
			height: 67px;
		};
	}
}

.fly-box {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 980;
	min-width: 320px;
	transition: bottom .35s linear;
	transition: opacity .5s, visibility .5s ease;
	@media (min-width: $mob-xs) {
		bottom: -120px;
	};
	@media (min-width: $tablet-w) {
		bottom: auto;
		top: calc(100% - 147px);
	};
	@media (min-width: $desk-w) {
		visibility: hidden;
	};
	&.uk-visible {
		visibility: visible;
	}
	img {
		opacity: 1;
		transition: opacity .5s, visibility .5s ease;
	}
	&.hidden {
		opacity: 0;
		visibility: hidden;
		img {
			@media (min-width: $desk-w) {
				opacity: 0;
				visibility: hidden;
			};
		}
	}
}

/*______ End Main Banner ______*/
