
/*______ New Section ______*/

.news-section {
	&.main {
		padding: 100px 0;
		border-bottom: 1px solid #ECE6E1;
	}
}

.news-list {
	@include list-reset;
	margin-bottom: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	.news-item {
		position: relative;
		margin: 0 0 50px;
		img {
			mask-position: center 0;
			mask-size: contain;
			mask-repeat: no-repeat;
			max-width: 100%;
			max-height: 100%;
		}
		&:nth-child(1n) {
			figure {
				img {
					mask-image: url('../img/icon-svg/ellipse-1.svg');
				}
			}
		}
		&:nth-child(2n) {
			figure {
				img {
					mask-image: url('../img/icon-svg/ellipse-2.svg');
				}
			}
		}
		&:nth-child(3n) {
			figure {
				img {
					mask-image: url('../img/icon-svg/ellipse-3.svg');
				}
			}
		}
		&.news-item--big {
			margin-bottom: 70px;
			flex-basis: 100%;
			max-width: 100%;
			article {
				max-width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				header,
				section {
					flex-basis: 100%;
					@media (min-width: $tablet-w) {
						flex-basis: 50%;
					};
				}
				header {
					margin: 0;
					padding: 0;
					@media (min-width: $tablet-w) {
						padding-right: 50px;
					};
				}
				figure {
					position: static;
					transform: none;
					justify-content: center;
					img {
						max-width: 480px;
						max-height: 480px;
					}
					@media (min-width: $tablet-w) {
						justify-content: flex-end;
					};
				}
				time {
					bottom: auto;
					top: 40px;
				}
				section {
					@media (min-width: $tablet-w) {
						padding-right: 6.5%;
					};
				}
			}
		}
	}
	article {
		margin: 0 auto;
		max-width: 320px;
		header {
			position: relative;
			margin: 0 auto 20px;
			padding-top: 75%;
			width: 100%;
		}
		figure {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			z-index: 15;
			display: flex;
			justify-content: center;
			align-news-items: center;
			transform: translate(-50%, -50%);
		}
		time {
			position: absolute;
			left: 0;
			bottom: 0;
			color: $salat;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: .3px;
			text-transform: uppercase;
			font-weight: bold;
			z-index: 25;
			span {
				display: block;
			}
		}
	}
	p {
		text-align: left;
		font-size: 18px;
		line-height: 24px;
		&:last-child {
			margin-bottom: 0;
		}
	}

}
/*______ End New Section ______*/
