
/*______ Offer section ______*/

.offer-section {
	@media (min-width: $mob-xs) {
		margin-bottom: 60px;
	};
	@media (min-width: $tablet-w) {
		margin-bottom: 90px;
	};
	@media (min-width: $desk-w) {
		margin-bottom: 130px;
	};
	&__inner {
		position: relative;
		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

/*______ End Offer section ______*/
