/*______ Recipes detail ______*/

.recipe-detail {
	&__main-img {
		margin-bottom: 30px;
		position: relative;
		height: 0;
		padding-top: 56.5%;
		@media (min-width: $tablet-w) {
			margin-bottom: 50px;
		}
		img {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__text {
		@media (min-width: $mob-xs) {
			margin-bottom: 60px;
		}
		@media (min-width: $tablet-w) {
			min-height: 340px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		ol {
			margin: 0;
			padding: 0 !important;
			list-style: none;
			font-size: 18px;
			line-height: 26px;
			counter-reset: list;
			li {
				position: relative;
				margin-bottom: 12px;
				padding-top: 7px;
				padding-left: 60px;
				padding-bottom: 36px;
				&:before {
					counter-increment: list;
					content: counter(list);
					position: absolute;
					top: 0;
					left: 0;
					width: 36px;
					height: 36px;
					line-height: 36px;
					text-align: center;
					display: block;
					background: $salat;
					color: #ffffff;
					font-size: 20px;
					font-family: $secondFont;
					font-weight: 700;
					border-radius: 50%;
					mask-repeat: no-repeat;
					mask-size: contain;
					mask-position: center 0;
				}
				&:after {
					content: "";
					position: absolute;
					left: 17px;
					bottom: 0;
					display: block;
					width: 1px;
					height: 24px;
					background: #eae2db;
				}
				&:last-child {
					&:before {
						background: $yellow;
					}
					&:after {
						display: none;
					}
				}
				&:nth-child(1n) {
					&:before {
						mask-image: url("../img/icon-svg/ellipse-12.svg");
					}
				}
				&:nth-child(2n) {
					&:before {
						mask-image: url("../img/icon-svg/ellipse-11.svg");
					}
				}
				&:nth-child(3n) {
					&:before {
						mask-image: url("../img/icon-svg/ellipse-6.svg");
					}
				}
				&:nth-child(4n) {
					&:before {
						mask-image: url("../img/icon-svg/ellipse-3.svg");
					}
				}
			}
		}
		ul {
			margin: 0;
			padding: 0 !important;
			list-style: none;
			font-size: 18px;
			line-height: 26px;
			li {
				position: relative;
				margin-bottom: 10px;
				padding-left: 16px;
				&:last-child {
					margin-bottom: 0;
				}
				&:before {
					content: "";
					position: absolute;
					top: 10px;
					left: 0;
					width: 4px;
					height: 4px;
					display: block;
					background: $salat;
					border-radius: 50%;
				}
			}
		}
	}
	&__desc {
		@media (min-width: $mob-xs) {
			padding-top: 40px;
		}
		@media (min-width: $desk-w) {
			padding-top: 60px;
		}
	}
	&__composition {
		position: relative;
		& > img {
			position: absolute;
			&.ellipse-abs-1 {
				top: -80px;
				left: -110px;
			}
			&.ellipse-abs-2 {
				top: -90px;
				left: -110px;
			}
		}
	}
}

/*______ End Recipes detail ______*/

.recipes-list,
.recipe-detail {
	.title-h3 {
		margin-bottom: 24px;
		font-size: 30px;
		line-height: 36px;
	}
}
