/*______ Tabs ______*/

.tab-sw {
	@include list-reset;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	li {
		display: block;
		@media (min-width: $mob-xs) {
			width: 100%;
			margin: 0 0 15px;
		}
		@media (min-width: $mob-s) {
			width: 30%;
			margin: 0 5px;
		}
		@media (min-width: $tablet-w) {
			width: auto;
			margin: 0 15px;
		}
		a {
			position: relative;
			padding: 0 1.25em;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
			border-radius: 72px;
			background-color: transparent;
			text-transform: uppercase;
			border: 2px solid $salat;
			color: $tColor;
			letter-spacing: 0.8px;
			font-weight: bold;
			transition: background-color 0.3s, color 0.3s ease;
			@media (min-width: $mob-xs) {
				font-size: 14px;
			}
			@media (min-width: $mob-s) {
				font-size: 12px;
				height: 50px;
			}
			@media (min-width: $tablet-w) {
				padding: 0 2.25em;
				font-size: 16px;
				height: 60px;
			}
			@media (min-width: $desk-w) {
				padding: 0 3.25em;
			}
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: -9px;
				width: 15px;
				height: 7.5px;
				transform: translateX(-50%);
				background: url("../img/icon-svg/triangle-down.svg") center 0 no-repeat;
				opacity: 0;
				transition: opacity 0.3s ease;
			}
		}
		&.uk-active {
			a {
				color: $white;
				background-color: $salat;
				&:after {
					opacity: 1;
				}
			}
		}
	}
}

.products-section {
	&__inner {
		position: relative;
		.ellipse-abs-1,
		.ellipse-abs-2 {
			position: absolute;
			top: 25px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
		}
	}
}

.custom-tabs {
	position: relative;
	z-index: 20;
	&.all-brands {
		.uk-switcher {
			padding-top: 15px;
			li {
				@media (min-width: $tablet-w) {
					min-height: 550px;
				}
				&.uk-active {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

.contacts-tabs {
	.uk-switcher {
		padding-top: 40px;
		@media (min-width: $desk-w) {
			padding-top: 95px;
		}
	}
}

.map {
	margin: 0 auto;
	width: 100%;
	height: 400px;
	max-width: 960px;
	border-radius: 36px;
	overflow: hidden;
}

.ymaps-2-1-76-balloon {
	border-radius: 36px;
}

.ymaps-2-1-76-balloon__layout {
	padding: 5px;
	border-radius: 36px;
}

.address {
	position: relative;
	background: $bgColor;
	.map {
		margin-top: 40px;
		top: 180px;
		left: 50%;
		@media (min-width: $mob-xs) {
			top: 240px;
		}
		@media (min-width: $mob-s) {
			top: 180px;
		}
	}
}

.address-tabs {
	.uk-switcher {
		position: relative;
		padding-top: 50px;
		li {
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: center 0;
			div {
				position: relative;
				z-index: 120;
			}
			img {
				display: none;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 110;
			}
		}
	}
}

.timer-tabs {
	li {
		@media (min-width: $mob-xs) {
			margin: 0 2.5px;
			width: auto;
			a {
				font-size: 12px;
				padding: 0.45em;
				height: 40px;
			}
		}
	}
}

/*______ End Tabs ______*/
