
/*______ Tabs ______*/

.tab-sw {
	@include list-reset;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	li {
		display: block;
		@media (min-width: $mob-xs) {
			width: 100%;
			margin: 0 0 15px;
		}
		@media (min-width: $mob-s) {
			width: 30%;
			margin: 0 5px;
		};
		@media (min-width: $tablet-w) {
			width: auto;
			margin: 0 15px;
		};
		a {
			position: relative;
			padding: 0 1.25em;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
			border-radius: 72px;
			background-color: transparent;
			text-transform: uppercase;
			border: 2px solid $salat;
			color: $tColor;
			letter-spacing: .8px;
			font-weight: bold;
			transition: background-color .3s, color .3s ease;
			@media (min-width: $mob-xs) {
				font-size: 14px;
			}
			@media (min-width: $mob-s) {
				font-size: 12px;
				height: 50px;
			};
			@media (min-width: $tablet-w) {
				padding: 0 2.25em;
				font-size: 16px;
				height: 60px;
			};
			@media (min-width: $desk-w) {
				padding: 0 3.25em;
			};
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: -9px;
				width: 15px;
				height: 7.5px;
				transform: translateX(-50%);
				background: url('../img/icon-svg/triangle-down.svg') center 0 no-repeat;
				opacity: 0;
				transition: opacity .3s ease;
			}
		}
		&.uk-active {
			a {
				color: $white;
				background-color: $salat;
				&:after {
					opacity: 1;
				}
			}
		}
	}
}

.products-section {
	&__inner {
		position: relative;
		.ellipse-abs-1,
		.ellipse-abs-2 {
			position: absolute;
			top: 25px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
		}
	}
}

.custom-tabs{
	position: relative;
	z-index: 20;
	/* min-height: 800px; */
}

.contacts-tabs {
	.uk-switcher {
		padding-top: 40px;
		@media (min-width: $desk-w) {
			padding-top: 95px;
		};
	}
}

.address-tabs {
	.uk-switcher {
		padding-top: 50px;
	}
}

/*______ End Tabs ______*/
