
/*______ Timer ______*/

.timer-app {

	&.start {
		.sort-list,
		.toggle__btn,
		.btns-list {
			opacity: .7;
			cursor: no-drop;
		}
		.sort-list {
			li {
				cursor: no-drop
			}
		}
		.btns-list {
			li {
				&:hover {
					a {
						cursor: no-drop;
					}
				}
			}
		}
	}
	&__label {
		margin-bottom: 36px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		@media (min-width: $mob-xs) {
			margin-bottom: 20px;
		}
		@media (min-width: $tablet-w) {
			margin-bottom: 36px;
		};
	}
	*+.timer-app__label {
		margin-top: 36px;
		@media (min-width: $mob-xs) {
			margin-top: 20px;
		}
		@media (min-width: $tablet-w) {
			margin-top: 36px;
		};
	}
	&__controls {
		margin-bottom: 20px;
		@media (min-width: $mob-xs) {
			flex-wrap: wrap;
			&>div {
				width: 100%;
			}
		}
		@media (min-width: 800px) {
			margin-bottom: 40px;
			&>div {
				width: auto;
			}
		};
		@media (min-width: $desk-w) {
			margin-bottom: 20px;
		};
	}
	&__countdown {
		margin-bottom: 34px;
		font-weight: bold;
		text-align: center;
		font-size: 48px;
		line-height: 48px;
		@media (min-width: $mob-s) {
			font-size: 60px;
			line-height: 60px;
		}
		@media (min-width: $tablet-w) {
			font-size: 72px;
			line-height: 72px;
		};
		@media (min-width: $desk-w) {
			font-size: 96px;
			line-height: 96px;
		};
	}
	&__img {
		text-align: center;
		@media (min-width: $mob-xs) {
			margin: 30px auto;
		}
		@media (min-width: 800px) {
			margin: -20px 30px 0;
		};
		@media (min-width: $desk-w) {
			margin: -20px 80px 0;
		};
		img {
			filter: drop-shadow(25px 25px 15px rgba(0, 0, 0, 0.3));
		}
	}
	&__start {
		.circle-timer-wrapper {
			height: 100%;
			display: flex;
		}
		.btn {
			margin: 0;
		}
	}
	.start__timer {
		border: 2px solid $yellow;
    border-radius: 72px;
    padding: 4px 110px 4px 15px;
    margin-right: -60px;
	}
}

.toggle {
	text-align: center;
	.timer-app__label {
		@media (min-width: $mob-xs) and (max-width: 800px) {
			margin: 0;
		}
	}
	&__btn {
		position: relative;
		padding: 3px 2px;
		display: inline-block;
		width: 36px;
		height: 68px;
		border: 2px solid $salat;
		border-radius: 72px;
		cursor: pointer;
		@media (min-width: $mob-xs) {
			margin: 10px 0;
		}
		@media (min-width: 800px) {
			margin: 0;
		};
		&-pin {
			position: relative;
			width: 28px;
			height: 28px;
			background: linear-gradient(90deg, #FFA722 0%, #FFB422 100%);
			box-shadow: 0px 4px 4px rgba(255, 167, 34, 0.25);
			border-radius: 72px;
			transition: transform .2s linear;
			z-index: 15;
			&.toggle {
				transform: translateY(100%);
			}
		}
	}
}

.btns-list {
		@include list-reset;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 65px;
		@media (min-width: $mob-xs) {
			margin-bottom: 35px;
		}
		@media (min-width: 800px) {
			margin-bottom: 65px;
		};
		li {
			display: block;
			@media (min-width: $mob-xs) {
				margin: 0 2.5px;
				width: auto;
				a {

				}
			}
			@media (min-width: $tablet-w) {
				margin: 0 15px;
			};
			a {
				position: relative;
				padding: 0 1.25em;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 60px;
				border-radius: 72px;
				background-color: transparent;
				text-transform: uppercase;
				border: 2px solid $salat;
				color: $tColor;
				letter-spacing: .8px;
				font-weight: bold;
				transition: background-color .3s, color .3s ease;
				@media (min-width: $mob-xs) {
					font-size: 12px;
					padding: 0.45em;
					height: 40px;
				}
				@media (min-width: $mob-s) {
					font-size: 12px;
					height: 50px;
				};
				@media (min-width: $tablet-w) {
					padding: 0 2.25em;
					font-size: 16px;
					height: 60px;
				};
				@media (min-width: $desk-w) {
					padding: 0 3.25em;
				};
				&:after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: -9px;
					width: 15px;
					height: 7.5px;
					transform: translateX(-50%);
					background: url('../img/icon-svg/triangle-down.svg') center 0 no-repeat;
					opacity: 0;
					transition: opacity .3s ease;
				}
			}
			&.active {
				a {
					color: $white;
					background-color: $salat;
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}

.sort-list {
	@include list-reset;
	display: flex;
	align-items: center;
	@media (min-width: $mob-xs) {
		justify-content: center;
	}
	@media (min-width: $tablet-w) {
		justify-content: flex-start;
	};
	li {
		margin-right: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid $salat;
		color: $tColor;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: bold;
		cursor: pointer;
		transition: background .3s, color .3s ease;
		border-radius: 50%;
		&.active {
			color: #ffffff;
			background: $salat;
		}
		&:nth-child(1) {
			width: 53px;
			height: 63px;
		}
		&:nth-child(2) {
			width: 48px;
			height: 57px;
		}
		&:nth-child(3) {
			width: 43px;
			height: 50px;
		}
		&:nth-child(4) {
			width: 37px;
			height: 44px;
		}
		&:nth-child(5) {
			width: 32px;
			height: 38px;
		}
	}
}

/*______ Timer end ______*/
