{% block content %}
<!-- begin header -->
<header class="header">
	<div class="uk-container">
		{% include 'header-desk.twig' %}
		{% include 'header-mobile.twig' %}
	</div>
</header><!-- end header -->
{% endblock %}
