
<!-- begin nav -->
<nav class="nav">
	<div class="uk-container">
		<ul class="main-nav">
			<li>
				<a href="/">
					<img width="82px" height="59px" data-src="img/icon-svg/nav-ellipse-1.svg" alt="" uk-img>
					<span>Лето</span>
				</a>
			</li>
			<li>
				<a href="ugodie.html">
					<img width="233px" height="71px" data-src="img/icon-svg/nav-ellipse-2.svg" alt="" uk-img>
					<span>Деревенское угодье</span>
				</a>
			</li>
			<li>
				<span class="logo1">
					<a href="/"><img src="img/media/logo.svg" alt="Leto"></a>
				</span>
			</li>
			<li>
				<a href="junior.html">
					<img width="92px" height="55px" data-src="img/icon-svg/nav-ellipse-3.svg" alt="" uk-img>
					<span>Junior</span>
				</a>
			</li>
			<li>
				<a href="nov.html">
					<img width="161px" height="56px" data-src="img/icon-svg/nav-ellipse-4.svg" alt="" uk-img>
					<span>Сельская новь</span>
				</a>
			</li>
		</ul>
	</div>
</nav><!-- end nav -->
