<div class="logo1">
	<a href=""><img src="img/media/logo.svg" alt="Leto"/></a>
</div>

<div class="logo2">
	<a href="">
		<span></span>
		<img src="img/media/logo.svg" alt="Leto"/>
	</a>
</div>

<div class="logo3">
	<a href=""><img src="img/media/logo.svg" alt="Leto"/></a>
</div>

<!-- begin nav -->
<nav class="nav" style="display: none;">
	<ul class="main-nav">
		<li><a href="#">Лет</a></li>
		<li><a href="#">Деревнское угодье</a></li>
		<li>
			<span class="logo2">
				<a href="#"><img src="img/media/logo.svg" alt="Leto"></a>
			</span>
		</li>
		<li><a href="#">Junior</a></li>
		<li><a href="#">Сельская новь</a></li>
	</ul>
</nav><!-- end nav -->



