
<!-- begin nav -->
<nav class="nav">
	<div class="uk-container">
		<ul class="main-nav">
			<li><a href="#">Лето</a></li>
			<li><a href="#">Деревнское угодье</a></li>
			<li>
				<span class="logo1">
					<a href="#"><img src="img/media/logo.svg" alt="Leto"></a>
				</span>
			</li>
			<li><a href="#">Junior</a></li>
			<li><a href="#">Сельская новь</a></li>
		</ul>
	</div>
</nav><!-- end nav -->



<!-- <div class="logo1">
	<a href=""><img src="img/media/logo.svg" alt="Leto"/></a>
</div>

<div class="logo2">
	<a href="">
		<span></span>
		<img src="img/media/logo.svg" alt="Leto"/>
	</a>
</div>

<div class="logo3">
	<a href=""><img src="img/media/logo.svg" alt="Leto"/></a>
</div>
 -->
