html,
body,
table {
  font-family: $mainFont;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $tColor;
}

body {
	overflow-x: hidden;
	@each $theme, $color in $theme-colors {
		&.#{$theme} {

			.advantages-list {
				li {
					&:before {
						color: $color;
					}
				}
			}

			.advantage-item__link {
				color: $color;
			}

			.adv-bg-img {
				color: $color;
			}

			.main-nav {
				li {
					&.active {
						svg {
							color: $color;
						}
						span {
							color: $white;
						}
					}
					&:hover {
						svg {
							color: $color;
						}
						span {
							color: $white;
						}
					}
				}
			}
		}
	}
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all .3s linear;
  &:hover {
  	color: $btColor;
    text-decoration: none;
  }
}

svg {
  transition: fill .3s linear;
}

.uk-container {
  margin: 0 auto;
  max-width: $containerWidth;
  box-sizing: border-box;
  &--small {
  	max-width: $containerWidthSmall;
  }
  &--medium {
  	max-width: $containerWidthMedium;
  }
  &--large {
  	max-width: $containerWidthLarge
  }
  @media (min-width: $mob-xs) {
  	padding: 0 15px;
  };
  @media (min-width: $tablet-w) {
  	padding: 0 30px;
  };
}

.uk-grid {
	@media (min-width: $mob-xs) {
		margin-left: -15px;
	};
	@media (min-width: $tablet-w) {
		margin-left: -30px;
	};
	&>* {
		@media (min-width: $mob-xs) {
			padding-left: 15px;
		};
		@media (min-width: $tablet-w) {
			padding-left: 30px;
		};
	}
}


.padding-left-25 {
	@media (min-width: $desk-w) {
		padding-left: 25%;
	};
}


.wave-bg {
	position: relative;
	padding: 120px 0;
	background-color: $bgColor;
	&:before,&:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 50px;
		background-repeat: repeat-x;
		background-size: 100%;
		z-index: 1;
		transition: transform 1.5s ease;
	}
	&:before {
		background-position: 100% 100%;
		background-image: url('../img/ui/wave-top.png');
		top: 0;
		transform: translateY(0);
	}
	&:after {
		background-position: 0 0;
		bottom: 0;
		background-image: url('../img/ui/wave-bottom.png');
		transform: translateY(0);
	}
}

.wave-anim {
	&.wave-bg {
		&:before {
			transform: translateY(-50px);
			//animation: move-wave 3s linear infinite alternate;
		}
		&:after {
			transform: translateY(50px);
			//animation: move-wave 3s linear infinite alternate;
		}
	}
}

@keyframes move-wave {
	0%,100% {
		background-position: 0 0;
	}
	50% {
		background-position: 50% 50%;
	}
}

/* body {
	& >* {
		display: none;
	}

	header.header,
	footer.footer,
	.main-banner,
	.advantages-h-section,
	.typebox-section,
	.brands-slider,
	.time-section {
		display: block !important;
	}
}
 */
