h1,
.title-h1,
h2,
.title-h2,
h3,
.title-h3,
h4,
.title-h4,
h5,
.title-h5 {
	font-family: $secondFont;
}

h1,
.title-h1 {
	@include text-size(96, 96);
	@media (min-width: $mob-xs) {
		margin-bottom: 30px;
	}
	@media (min-width: $tablet-w) {
		margin-bottom: 50px;
	}
}

h2,
.title-h2 {
	@include text-size(56, 64);
	@media (min-width: $mob-xs) {
		margin-bottom: 30px;
	}
	@media (min-width: $tablet-w) {
		margin-bottom: 50px;
	}
}

h3,
.title-h3 {
	margin-bottom: 15px;
	font-weight: bold;
	@media (min-width: $mob-xs) {
		font-size: 20px;
		line-height: 24px;
	}
	@media (min-width: $desk-w) {
		font-size: 24px;
		line-height: 29px;
	}
}

h4,
.title-h4 {
}

h5,
.title-h5 {
}

.small-title {
	margin: 20px 0;
	font-size: 20px;
	line-height: 24px;
}

.yellow-text {
	color: $yellow;
}

p {
	font-size: 18px;
	line-height: 26px;
}

.content-section {
	ul:not([class]),
	ol:not([class]) {
		font-size: 18px;
		line-height: 26px;
		li {
			margin-bottom: 5px;
		}
	}

	ul:not([class]) {
		padding-left: 25px;
	}

	ol:not([class]) {
		padding-left: 20px;
	}
}

ul.disc-list {
	@include list-reset;
	font-size: 18px;
	line-height: 26px;
	li {
		position: relative;
		margin-bottom: 10px;
		padding-left: 16px;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			content: "";
			position: absolute;
			top: 10px;
			left: 0;
			width: 4px;
			height: 4px;
			display: block;
			background: $salat;
			border-radius: 50%;
		}
	}
}

ol.numeric-list {
	@include list-reset;
	font-size: 18px;
	line-height: 26px;
	counter-reset: list;
	li {
		position: relative;
		margin-bottom: 12px;
		padding-top: 7px;
		padding-left: 60px;
		padding-bottom: 36px;
		&:before {
			counter-increment: list;
			content: counter(list);
			position: absolute;
			top: 0;
			left: 0;
			width: 36px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			display: block;
			background: $salat;
			color: #ffffff;
			font-size: 20px;
			font-family: $secondFont;
			font-weight: 700;
			border-radius: 50%;
			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center 0;
		}
		&:after {
			content: "";
			position: absolute;
			left: 17px;
			bottom: 0;
			display: block;
			width: 1px;
			height: 24px;
			background: #eae2db;
		}
		&:last-child {
			&:before {
				background: $yellow;
			}
			&:after {
				display: none;
			}
		}
		&:nth-child(1n) {
			&:before {
				mask-image: url("../img/icon-svg/ellipse-12.svg");
			}
		}
		&:nth-child(2n) {
			&:before {
				mask-image: url("../img/icon-svg/ellipse-11.svg");
			}
		}
		&:nth-child(3n) {
			&:before {
				mask-image: url("../img/icon-svg/ellipse-6.svg");
			}
		}
		&:nth-child(4n) {
			&:before {
				mask-image: url("../img/icon-svg/ellipse-3.svg");
			}
		}
	}
}

.icon-chevron-right {
	position: relative;
	padding-right: 15px;
	display: inline-block;
	font-family: $mainFont !important;
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		width: 8px;
		height: 8px;
		border: 1px solid $green;
		border-left: none;
		border-top: none;
		transform: translateY(-50%) rotate(-45deg);
	}
}
