/* $mob-xs: 0px;
$mob-s: 480px;
$tablet-w: 768px;
$desk-w: 960px;
 */

$mob-xs: 0px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;

$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);

$retina-dpi: (min-resolution: 144dpi);
$retina-ppx: (min-resolution: 1.5dppx);

$mainFont: "Circe";
$secondFont: "Museo";
$fontSize: 16px;
$lineHeight: 18px;
$fontWeight: 400;
$tColor: #5b6356;
$btColor: #333e2c;
$bgColor: #faf4ef;
$bgColorUI: #ECE6E1;
$white: #ffffff;
$green: #549537;
$salat: #9bc045;
//$yellow: linear-gradient(180deg, #ffa722 0%, #ffb422 100%);
$yellow: #ffb422;

$containerWidth: 1360px;
$containerWidthSmall: 1020px;
$containerWidthMedium: 1205px;
$containerWidthLarge: 1440px;



$theme-1: #9bc045;
$theme-2:  #3180CA;
$theme-3:  #C93E7F;
$theme-4: #D0724E;
$theme-5: #FF4118;

$theme-colors: (
	theme-green: #9bc045,
	theme-blue: #3180CA,
	theme-pink: #C93E7F,
	theme-brown: #D0724E,
	theme-orange: #FF4118
);
