{% extends "layouts/default.twig" %}
{% set title="О Компании" %}
{% set theme="theme-green" %}
{% block content %}
{% 
	set data = {
		bgURL: 'img/media/main-banner-2-1440x730.png',
		title: 'Группа компаний «Лето»',
		subtitle: 'Входим в топ-10 производителей яйца в России',
		flyBox: {
			isset: false,
			img: 'img/media/egg-box-1.png'
		}
	} 
%}

	{% include './includes/components/main-banner.twig' with {'data': data} %}

	<!-- begin total-section -->
	<section class="total-section">
		<div class="uk-container">
			<div class="total-section__title uk-text-center">800 000 000</div>
			<div class="total-section__inner">
				<h2 class="title-h2 uk-text-center">Яиц в год</h2>
				<ul class="total-section-list uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
					<li class="item-wrapper">
						<div class="item">
							<div class="item__img">
								<div class="bg-img">
									<svg width="100%" height="100%">
									  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-7"></use>
									</svg>
								</div>
								<div class="content-img">
									<img src="img/media/advantage-img/advantage-img-7.svg" alt="">
								</div>
							</div>
							<div class="item__text uk-text-center">
								<h3 class="title-h3">Производим</h3>
								<div class="green-number">130 000</div>
								<div class="text">тонн корма в год</div>
							</div>
						</div>
					</li>

					<li class="item-wrapper">
						<div class="item">
							<div class="item__img">
								<div class="bg-img">
									<svg width="100%" height="100%">
									  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-8"></use>
									</svg>
								</div>
								<div class="content-img">
									<img src="img/media/advantage-img/advantage-img-8.svg" alt="">
								</div>
							</div>
							<div class="item__text uk-text-center">
								<h3 class="title-h3">Содержим</h3>
								<div class="green-number">2 600 000</div>
								<div class="text">кур-несушек</div>
							</div>
						</div>
					</li>

					<li class="item-wrapper">
						<div class="item">
							<div class="item__img">
								<div class="bg-img">
									<svg width="100%" height="100%">
									  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-9"></use>
									</svg>
								</div>
								<div class="content-img">
									<img src="img/media/advantage-img/advantage-img-9.svg" alt="">
								</div>
							</div>
							<div class="item__text uk-text-center">
								<h3 class="title-h3">Продаём</h3>
								<div class="green-number">70 000 000</div>
								<div class="text">упаковок в год</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section><!-- end total-section -->

	<!-- begin about-egg -->
	<section class="about-egg uk-text-center">
		<div class="uk-container">
			<div class="about-egg__img">
				<img src="img/media/egg-2.png" alt="">
			</div>
			<div class="about-egg__text">
				<p>
					Яйцо — один из немногих продуктов, остающийся неизменным 
					в потреблении человеком на протяжении тысячелетий.
				</p>
				<p>
					Миссия нашей компании — бережно сохранять и нести людям ценность этого натурального продукта
				</p>
			</div>
		</div>
	</section><!-- end about-egg -->

	<section class="advantages-h-section" uk-scrollspy="target: .item; cls: slide-right; delay: 300">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center" uk-scrollspy="cls:slide-up">Производим натуральный продукт</h2>
			<ul class="advantages-h-list advantages-h-list--three-items">
				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="adv-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#medium-ellipse-1"></use>
							</svg>
						</div>
						<div class="content-img">
							<img src="img/icon-svg/adv-icon-5.svg" alt="">
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Натуральность</div>
						Наше производство расположено в экологически чистых регионах Белгородской и Тульской областей
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="adv-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#medium-ellipse-2"></use>
							</svg>
						</div>
						<div class="content-img">
							<img src="img/icon-svg/adv-icon-6.svg" alt="">
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Безопасность</div>
						Система менеджмента безопасности пищевой продукции (СМБПП), основанная 
						на требованиях стандарта ISO 22000:2018 
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="adv-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#medium-ellipse-3"></use>
							</svg>
						</div>
						<div class="content-img">
							<img src="img/icon-svg/adv-icon-7.svg" alt="">
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Свежесть</div>
						Прямые контракты с ключевыми розничными сетями позволяют работать без склада
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="typebox-section wave-bg" uk-scrollspy="cls: wave-anim">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center" uk-scrollspy="cls:slide-up">Потребитель нам важнее всего</h2>

			<ul class="typebox-list mask" uk-scrollspy="target: .item; cls: slide-right; delay: 300">

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-1"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-12.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Каждой аудитории свой продукт</div>
						<div class="item__subtitle">Оригинальные запатентованные торговые марки в разных ценовых категориях</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-2"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-13.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Легко найти в магазине</div>
						<div class="item__subtitle">Продукция упакована в красочные короба-шоубоксы, которые удобно размещаются непосредственно на яичной полке магазина без дополнительного ручного труда.</div>
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<div class="bg-img">
							<svg width="100%" height="100%" class="typebox-bg-img">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ellipse-3"></use>
							</svg>
						</div>
						<div class="content-img">
							<img data-src="img/media/box-type-14.png" alt="" uk-img>
						</div>
					</div>
					<div class="item__text">
						<div class="title-h3">Регулярные скидки и акции</div>
						<div class="item__subtitle">Маркетинговая поддержка собственных брендов, направленная на покупателей.</div>
					</div>
				</li>

			</ul>

		</div>
	</section>

	<section class="offer-section">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center">Открыты новым идеям</h2>
			<div class="offer-section__inner uk-text-center">
				<img data-src="img/media/chicken.png" alt="" uk-img>
				<a href="" class="btn btn--small btn--yellow"><span>Предложить идею</span></a>
			</div>
		</div>
	</section>

	<section class="slider-section wave-bg" uk-scrollspy="cls: wave-anim">
		<div class="uk-container uk-container--small">
			<h2 class="uk-text-center" uk-scrollspy="cls:slide-up">Самое ценное для нас – люди, которые работают для Вас</h2>
			<!-- begin composition-slider -->
			<div class="custom-slider">
				<div class="uk-container">
					<div class="slider">
						<div class="slide">
							<img src="img/media/sliders/slider-company-1.png" alt="">
						</div>
						<div class="slide">
							<img src="img/media/sliders/composition-slide.svg" alt="Состав яйца">
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev">
							<svg width="154px" height="29px" class="slider-arrow">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#big-arrow-left"></use>
							</svg>
						</div>
						<div class="slide-next">
							<svg width="154px" height="29px" class="slider-arrow">
							  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#big-arrow-right"></use>
							</svg>
						</div>
					</div>
				</div>
			</div><!-- end composition-slider -->
		</div>
	</section>

	<!-- begin news-section -->
	<section class="news-section wave-bg" uk-scrollspy="target: .item; cls: slide-right; delay: 300">
		<div class="uk-container">
			<h2 class="title-h2 uk-text-center">Новости компании «Лето-Групп»</h2>
			<ul class="news-list">
				<li class="item"></li>
			</ul>
		</div>
	</section><!-- end news-section -->


{% endblock %}

