{% extends "layouts/default.twig" %}
{% set title="Контакты" %}
{% set theme="theme-green" %}
{% block content %}

<!-- begin contacts-section -->
<section class="contacts-section">
	<div class="uk-container uk-container--medium">
		<h2 class="title-h2 uk-text-center" uk-scrollspy="cls: slide-up;">Контакты</h2>
	<div class="subtitle subtitle--large uk-text-center" uk-scrollspy="cls: slide-up; delay: 200">Выберите тему обращения</div>

		<!-- begin custom-tabs -->
		<div class="custom-tabs contacts-tabs" uk-scrollspy="cls: slide-up; delay: 400">
			<ul class="tab-sw" uk-switcher="swiping: false">
				<li class="active"><a href="">качество продукта</a></li>
				<li><a href="">закупки и услуги</a></li>
				<li><a href="">продажа яйца</a></li>
			</ul>
			<ul class="uk-switcher">
				<li>
					<div class="uk-grid">
						<div class="uk-width-1-2@s">
							<div class="slogan">
								Нам важно ваше мнение о качестве нашей продукции. Присылайте замечания и предложения через форму обратной связи, почту или по телефону. 
							</div>

							<div class="contacts">
								<a href="tel:+74957815404" class="contacts__tel contacts__tel--large">+7 495 781-54-04</a>
								<div class="subtitle">Напишите нам:</div>
								<a href="mailto:info@leto-group.ru" class="green-link green-link--large">info@leto-group.ru</a>
							</div>


						</div>
						<div class="uk-width-1-2@s">
							<div class="contacts-form-wrapper">
								<img class="ellipse-abs-1 uk-visible@l" src="img/icon-svg/large-ellipse-3.svg" alt="">
								<img class="ellipse-abs-2 uk-visible@l" src="img/icon-svg/large-ellipse-4.svg" alt="">

								<form action="" class="custom-form contacts-form">
									<div class="form-title">Заполните форму</div>
									<fieldset>
										<input type="text" placeholder="Ваше имя">
									</fieldset>
									<fieldset>
										<input type="text" class="js__input-phone" placeholder="Номер телефона">
									</fieldset>
									<fieldset>
										<textarea name="" id="" placeholder="Сообщение"></textarea>
									</fieldset>
									<fieldset>
										<div class="uk-grid">
											<div class="uk-width-1-2@s">
												<label for="contacts-call" class="custom-form-element-wrapper uk-flex uk-flex-middle uk-flex-left">
													<input id="contacts-call" type="checkbox" checked>
													<span class="custom-checkbox"></span>
													<span class="custom-label">Перезвоните мне</span>
												</label>

											</div>
											<div class="uk-width-1-2@s">
												<label for="contacts-file" class="custom-form-element-wrapper uk-flex uk-flex-middle uk-flex-wrap uk-flex-right@s">
													<input id="contacts-file" type="file">
													<span class="custom-file"></span>
													<span class="custom-label custom-label--green">Прикрепить файл</span>
													<div class="file-name"></div>
												</label>
											</div>
										</div>
									</fieldset>
									<button type="submit" class="btn btn--yellow"><span>Отправить</span></button>
								</form>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="uk-grid">
						<div class="uk-width-1-2@s">
							<div class="slogan">
								<p>
									Нам интересно сотрудничество с надежными компаниями, соблюдающими сроки и договоренности в сфере производства и/или поставок:- сельскохозяйственной продукции (зерно, кукуруза, шрот) - бумажной продукции для упаковки яиц - средств индивидуальной защиты и дезинфекции.
								</p>
								<p>
									В сферу наших интересов, помимо непосредственно производственных, вкходят компании, предоставляющие маркетинговые, финансовые и консалтинговые услуги.
								</p>
							</div>

							<div class="contacts">
								<a href="tel:+74957815404" class="contacts__tel contacts__tel--large">+7 495 781-54-04</a>
								<div class="subtitle">Напишите нам:</div>
								<a href="mailto:info@leto-group.ru" class="green-link green-link--large">info@leto-group.ru</a>
							</div>

							<a href="" class="btn"><span>презентация компании</span></a>

						</div>
						<div class="uk-width-1-2@s">
							<div class="contacts-form-wrapper">
								<img class="ellipse-abs-1 uk-visible@l" src="img/icon-svg/large-ellipse-3.svg" alt="">
								<img class="ellipse-abs-2 uk-visible@l" src="img/icon-svg/large-ellipse-4.svg" alt="">

								<form action="" class="custom-form contacts-form">
									<div class="form-title">Заполните форму</div>
									<fieldset>
										<input type="text" placeholder="Ваше имя">
									</fieldset>
									<fieldset>
										<input type="text" class="js__input-phone" placeholder="Номер телефона">
									</fieldset>
									<fieldset>
										<textarea name="" id="" placeholder="Сообщение"></textarea>
									</fieldset>
									<fieldset>
										<div class="uk-grid">
											<div class="uk-width-1-2@s">
												<label for="contacts-call" class="custom-form-element-wrapper uk-flex uk-flex-middle uk-flex-left">
													<input id="contacts-call" type="checkbox" checked>
													<span class="custom-checkbox"></span>
													<span class="custom-label">Перезвоните мне</span>
												</label>

											</div>
											<div class="uk-width-1-2@s">
												<label for="contacts-file" class="custom-form-element-wrapper uk-flex uk-flex-middle uk-flex-wrap uk-flex-right@s">
													<input id="contacts-file" type="file">
													<span class="custom-file"></span>
													<span class="custom-label custom-label--green">Прикрепить файл</span>
													<div class="file-name"></div>
												</label>
											</div>
										</div>
									</fieldset>
									<button type="submit" class="btn btn--yellow"><span>Отправить</span></button>
								</form>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="uk-grid">
						<div class="uk-width-1-2@s">
							<div class="slogan">
								Нам важно, чтобы потребители могли купить нашу продукцию в привычном магазине. Поэтому мы заинтересованы в сотрудничестве с большими и маленькими сетями и даже отдельным магазинами. Свяжитесь с нами через форму обратной связи, почту или по телефону. 
							</div>

							<div class="contacts">
								<a href="tel:+74957815404" class="contacts__tel contacts__tel--large">+7 495 781-54-04</a>
								<div class="subtitle">Напишите нам:</div>
								<a href="mailto:info@leto-group.ru" class="green-link green-link--large">info@leto-group.ru</a>
							</div>

							<a href="" class="btn"><span>презентация компании</span></a>

						</div>
						<div class="uk-width-1-2@s">
							<div class="contacts-form-wrapper">
								<img class="ellipse-abs-1 uk-visible@l" src="img/icon-svg/large-ellipse-3.svg" alt="">
								<img class="ellipse-abs-2 uk-visible@l" src="img/icon-svg/large-ellipse-4.svg" alt="">

								<form action="" class="custom-form contacts-form">
									<div class="form-title">Заполните форму</div>
									<fieldset>
										<input type="text" placeholder="Ваше имя">
									</fieldset>
									<fieldset>
										<input type="text" class="js__input-phone" placeholder="Номер телефона">
									</fieldset>
									<fieldset>
										<textarea name="" id="" placeholder="Сообщение"></textarea>
									</fieldset>
									<fieldset>
										<div class="uk-grid">
											<div class="uk-width-1-2@s">
												<label for="contacts-call" class="custom-form-element-wrapper uk-flex uk-flex-middle uk-flex-left">
													<input id="contacts-call" type="checkbox" checked>
													<span class="custom-checkbox"></span>
													<span class="custom-label">Перезвоните мне</span>
												</label>

											</div>
											<div class="uk-width-1-2@s">
												<label for="contacts-file" class="custom-form-element-wrapper uk-flex uk-flex-middle uk-flex-wrap uk-flex-right@s">
													<input id="contacts-file" type="file">
													<span class="custom-file"></span>
													<span class="custom-label custom-label--green">Прикрепить файл</span>
													<div class="file-name"></div>
												</label>
											</div>
										</div>
									</fieldset>
									<button type="submit" class="btn btn--yellow"><span>Отправить</span></button>
								</form>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div><!-- end custom-tabs -->

	</div>
</section><!-- end contacts-section -->

<!-- begin career-section -->
<section class="career-section">
	<div class="uk-container">
		<h2 class="title-h2 uk-text-center" uk-scrollspy="cls: slide-up;">Хотите у нас работать?</h2>
		<img class="uk-display-block uk-margin-auto uk-margin-medium-bottom" src="img/media/hh.png" alt="HeadHunter" uk-scrollspy="cls: slide-up; delay: 300">
		<div class="slogan uk-text-center">Страница компании и все вакансии на портале HeadHunter.ru</div>
		<a href="" class="btn uk-margin-auto"><span>Перейти</span></a>
	</div>
</section><!-- end career-section -->

<!-- begin address -->
<div class="address wave-bg" uk-scrollspy="cls: wave-anim">
	<div class="uk-container">
		<h2 class="title-h2 uk-text-center" uk-scrollspy="cls: slide-up;">Адреса</h2>

		<!-- begin custom-tabs -->
		<div class="custom-tabs address-tabs" uk-scrollspy="cls: slide-up; delay: 300">
			<ul class="tab-sw" uk-switcher="swiping: false">
				<li class="active"><a href="">Москва</a></li>
				<li><a href="">Белгород</a></li>
				<li><a href="">Тула</a></li>
			</ul>

			<ul class="uk-switcher">
				<li>
					<div class="slogan uk-text-center">Московская обл., БЦ Рига Ленд, корпус 6, подъезд 5, офис № 207</div>
					<img src="img/media/test1.jpg" alt="">
				</li>
				<li>
					<div class="slogan uk-text-center">Белгородская обл., Шебекинский р-н, с. Белянка, ул. Комсомольская, д.57</div>
					<img src="img/media/test2.jpg" alt="">
				</li>
				<li>
					<div class="slogan uk-text-center">Тульская область, Заокский р-н, пос. Сосновый</div>
					<img src="img/media/test3.jpg" alt="">
				</li>
			</ul>
		</div><!-- end custom-tabs -->
	</div>
</div><!-- end address -->

{% endblock %}
 
