{% extends "layouts/default.twig" %}
{% set title="Рецепты детальная" %}
{% set theme="theme-green" %}
{% block content %}
			
		<section class="content-section">
			<div class="uk-container uk-container--small">
				<h1 class="title-h2 uk-text-center">Ленивая пицца на сковороде, с помидорами, сыром и яичницей</h1>

				<!-- begin recipe-detail -->
				<section class="recipe-detail">
					<div class="recipe-detail__main-img" uk-scrollspy="cls: slide-up;">
						<img data-src="img/media/recipes/recipe-detail.png" alt="" uk-img>
					</div>

					<div class="recipe-detail__text">
						 <div class="uk-grid">
						 	<div class="uk-width-1-2@s">
						 		<div class="recipe-detail__composition">
						 			<h3 class="title-h3">Ингредиенты</h3>
						 			<ul class="disc-list">
						 				<li>Яйцо куриное — 2 штуки</li>
						 				<li>Сливки 25% — 2 столовые ложки</li>
						 				<li>Соль, перец — по вкусу</li>
						 				<li>Масло сливочное — 30 г</li>
						 				<li>Сыр брынза —50 г</li>
						 				<li>Овощи и зелень — по вкусу</li>
						 			</ul>
						 		</div>
						 	</div>
						 	<div class="uk-width-1-2@s">
						 		<div class="recipe-detail__desc">
						 			<p>
										Очень необычный завтрак - ленивая пицца на сковороде с помидорами, сыром и яичницей. Основа для пиццы-яичницы готовится из жидкого теста на сметане и майонезе. Очень быстро и просто. Отличное начало дня!
						 			</p>
						 		</div>
						 	</div>
						 </div>
					</div>

					<div class="recipe-detail__text">
						<div class="uk-grid">
							<div class="uk-width-5-6@s">
								<h3 class="title-h3">Cпособ приготовления</h3>
								<ol class="numeric-list">
									<li>
										Взбейте два яйца венчиком, добавьте сливки, соль и перец.</li>
									<li>
										Растопите на сковороде сливочное масло и влейте яичную смесь. Не забудьте закрыть крышку сковороды.
									</li>
									<li>
										Пока готовится омлет, нарежьте сыр и овощи.</li>
									<li>
										Готовое блюдо выложите на тарелку, добавив сыр, овощи и зелень (помидоры черри, лук, шпинат и петрушка).
									</li>
								</ol>
							</div>
						</div>
					</div>

				</section><!-- end recipe-detail -->

			</div>

		</section>

			<section class="slider-section wave-bg" uk-scrollspy="cls: wave-anim">
				<div class="uk-container uk-container--medium">
					<h2 class="uk-text-center" uk-scrollspy="cls:slide-up">Другие рецепты</h2>
					<!-- begin composition-slider -->
					<div class="custom-slider custom-slider--three-elements" uk-scrollspy="cls: slide-up; delay: 300">
						<div class="uk-container">
							<div class="slider">

								<div class="slide">
						  		<article class="recipe-post recipe-post--ellipse-5">
						  			<figure class="recipe-post__img">
						  				<img data-src="img/media/recipes/recipe-post-small-314x302-1.png" alt="Салат весенний" uk-img>
						  			</figure>
						  			<div class="recipe-post__content">
											<div class="recipe-post__title">
												<a href="">Яичные котлеты по-карельски</a>
											</div>
											<div class="recipe-post__short-desc">
												Яйца, крупа манная, вода, соль, перец чёрный молотый, сухари панировочные
											</div>
						  			</div>
						  		</article>
								</div>

								<div class="slide">
						  		<article class="recipe-post recipe-post--ellipse-5">
						  			<figure class="recipe-post__img">
						  				<img data-src="img/media/recipes/recipe-post-small-314x302-2.png" alt="Салат весенний" uk-img>
						  			</figure>
						  			<div class="recipe-post__content">
											<div class="recipe-post__title">
												<a href="">Яичные котлеты по-карельски</a>
											</div>
											<div class="recipe-post__short-desc">
												Яйца, крупа манная, вода, соль, перец чёрный молотый, сухари панировочные
											</div>
						  			</div>
						  		</article>
								</div>

								<div class="slide">
						  		<article class="recipe-post recipe-post--ellipse-5">
						  			<figure class="recipe-post__img">
						  				<img data-src="img/media/recipes/recipe-post-small-314x302-3.png" alt="Салат весенний" uk-img>
						  			</figure>
						  			<div class="recipe-post__content">
											<div class="recipe-post__title">
												<a href="">Яичные котлеты по-карельски</a>
											</div>
											<div class="recipe-post__short-desc">
												Яйца, крупа манная, вода, соль, перец чёрный молотый, сухари панировочные
											</div>
						  			</div>
						  		</article>
								</div>

								<div class="slide">
						  		<article class="recipe-post recipe-post--ellipse-5">
						  			<figure class="recipe-post__img">
						  				<img data-src="img/media/recipes/recipe-post-small-314x302-5.png" alt="Салат весенний" uk-img>
						  			</figure>
						  			<div class="recipe-post__content">
											<div class="recipe-post__title">
												<a href="">Яичные котлеты по-карельски</a>
											</div>
											<div class="recipe-post__short-desc">
												Яйца, крупа манная, вода, соль, перец чёрный молотый, сухари панировочные
											</div>
						  			</div>
						  		</article>
								</div>

							</div>
							<div class="slider__arrows">
								<div class="slide-prev">
									<svg width="154px" height="29px" class="slider-arrow">
									  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#big-arrow-left"></use>
									</svg>
								</div>
								<div class="slide-next">
									<svg width="154px" height="29px" class="slider-arrow">
									  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#big-arrow-right"></use>
									</svg>
								</div>
							</div>
						</div>
					</div><!-- end composition-slider -->

					<a href="" class="btn btn--yellow uk-margin-auto" uk-scrollspy="cls:slide-up">
						<span>посмотреть все рецепты</span>
					</a>
				</div>
			</section>

{% endblock %}
