{% extends "layouts/default.twig" %}
{% set title="Рецепты детальная" %}
{% set theme="theme-green" %}
{% block content %}

	<section class="content-section">
		<div class="uk-container uk-container--small">
			<h1 class="title-h2 uk-text-center">Белковый омлет</h1>

			<!-- begin recipe-detail -->
			<section class="recipe-detail">
				<div class="recipe-detail__main-img" uk-scrollspy="cls: slide-up;">
					<img data-src="img/media/recipes/recipe-12.jpg" alt="" uk-img>
				</div>

				<div class="recipe-detail__text">
					<div class="uk-grid">
						<div class="uk-width-1-2@s">
							<div class="recipe-detail__composition">
								<h3 class="title-h3">Ингредиенты</h3>
								<ul class="disc-list">
									<li>Яичный белок – от 3 яиц (СО)</li>
									<li>Молоко 1% – 50 г</li>
									<li>Укроп – 10 г</li>
									<li>Соль, перец черный – по вкусу</li>
									<li>Масло сливочное — 15 г</li>
								</ul>
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<div class="recipe-detail__desc"></div>
						</div>
					</div>
				</div>

				<div class="recipe-detail__text">
					<div class="uk-grid">
						<div class="uk-width-5-6@s">
							<h3 class="title-h3">Cпособ приготовления</h3>
							<ol class="numeric-list">
								<li>
									Взбейте белки до пышности. Добавьте молоко, нарезанный укроп, соль, перец и перемешайте ложкой.</li>
								<li>
									Растопите на сковороде сливочное масло, влейте полученную смесь и томите на небольшом огне 5-7 минут под крышкой.
								</li>
								<li>
									Готовое блюдо выложите на тарелку, добавьте сверху немного зелени.</li>
							</ol>
						</div>
					</div>
				</div>

			</section>
			<!-- end recipe-detail -->

		</div>

	</section>

	<section class="slider-section wave-bg" uk-scrollspy="cls: wave-anim">
		<div class="uk-container uk-container--medium">
			<h2 class="uk-text-center" uk-scrollspy="cls:slide-up">Другие рецепты</h2>
			<!-- begin composition-slider -->
			<div class="custom-slider custom-slider--three-elements" uk-scrollspy="cls: slide-up; delay: 300">
				<div class="uk-container">
					<div class="slider">

						<div class="slide">
							<article class="recipe-post recipe-post--ellipse-5">
								<figure class="recipe-post__img">
									<img data-src="img/media/recipes/recipe-2.png" alt="Салат весенний" uk-img>
								</figure>
								<div class="recipe-post__content">
									<div class="recipe-post__title">
										<a href="">Салат с красной рыбой и яйцом</a>
									</div>
									<div class="recipe-post__short-desc">
										Куриное яйцо, красная рыба, огурец, помидор, салатный микс, оливковое масло, лимонный сок
									</div>
								</div>
							</article>
						</div>

						<div class="slide">
							<article class="recipe-post recipe-post--ellipse-5">
								<figure class="recipe-post__img">
									<img data-src="img/media/recipes/recipe-9.png" alt="Салат весенний" uk-img>
								</figure>
								<div class="recipe-post__content">
									<div class="recipe-post__title">
										<a href="">Сэндвич с авокадо</a>
									</div>
									<div class="recipe-post__short-desc">
										Вареное яйцо, хлеб, авокадо, лимонный сок, соль, перец, чеснок
									</div>
								</div>
							</article>
						</div>

						<div class="slide">
							<article class="recipe-post recipe-post--ellipse-5">
								<figure class="recipe-post__img">
									<img data-src="img/media/recipes/recipe-1.png" alt="Салат весенний" uk-img>
								</figure>
								<div class="recipe-post__content">
									<div class="recipe-post__title">
										<a href="">Яйца скрэмбл с ветчиной и сыром</a>
									</div>
									<div class="recipe-post__short-desc">
										Куриное яйцо, молоко, растительное масло, ветчина, сыр твердый, соль, перец
									</div>
								</div>
							</article>
						</div>

						<div class="slide">
							<article class="recipe-post recipe-post--ellipse-5">
								<figure class="recipe-post__img">
									<img data-src="img/media/recipes/recipe-8.png" alt="Салат весенний" uk-img>
								</figure>
								<div class="recipe-post__content">
									<div class="recipe-post__title">
										<a href="">Французские тосты</a>
									</div>
									<div class="recipe-post__short-desc">
										Куриное яйцо, сахар, соль, молоко, белый хлеб, сливочное масло
									</div>
								</div>
							</article>
						</div>

					</div>
					<div class="slider__arrows">
						<div class="slide-prev">
							<svg width="154px" height="29px" class="slider-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#big-arrow-left"></use>
							</svg>
						</div>
						<div class="slide-next">
							<svg width="154px" height="29px" class="slider-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#big-arrow-right"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
			<!-- end composition-slider -->

			<a href="" class="btn btn--yellow uk-margin-auto" uk-scrollspy="cls:slide-up">
				<span>посмотреть все рецепты</span>
			</a>
		</div>
	</section>

{% endblock %}
