{% extends "layouts/default.twig" %}
{% set title="Таймер для варки яиц" %}
{% set theme="theme-green" %}
{% block content %}

	<!-- begin timer-section -->
	<section class="timer-section">
		<div class="uk-container uk-container--small">
			<h2 class="title-h2 uk-text-center">Таймер для варки яиц</h2>

			<div id="timer-1" class="timer-app">
				<ul class="btns-list">
					<li class="active"><a href="#">Всмятку</a></li>
					<li><a href="#">В мешочек</a></li>
					<li><a href="#">Вкрутую</a></li>
				</ul>
				<div class="timer-app__controls uk-flex uk-flex-center uk-flex-top">
					<div>
						<div class="timer-app__label">Сорт яйца:</div>
						<ul class="sort-list">
							<li class="active" data-time='{"cold": "0:03", "room": "5:00"}'>CB</li>
							<li data-time='{"cold": "5:40", "room": "4:30"}'>C0</li>
							<li data-time='{"cold": "5:20", "room": "4:10"}'>C1</li>
							<li data-time='{"cold": "4:40", "room": "3:40"}'>C2</li>
							<li data-time='{"cold": "4:00", "room": "3:10"}'>C3</li>
						</ul>
					</div>
					<div>
						<div class="timer-app__img">
							<img src="img/media/egg-img-1.svg" alt="">
						</div>
					</div>
					<div>
						<div class="toggle">
							<div class="timer-app__label">Из холодильника</div>
							<div class="toggle__btn">
								<div class="toggle__btn-pin"></div>
							</div>
							<div class="timer-app__label">Комнатная температура</div>
						</div>
					</div>
				</div>

				<div class="timer-app__countdown uk-margin-auto"></div>
				
				<div class="timer-app__start uk-flex uk-flex-center">
					<a href="" class="timer-btn-start btn btn--yellow"><span>Старт</span></a>
					<a href="" class="timer-btn-stop btn btn--yellow uk-hidden"><span>Стоп</span></a>
				</div>
				
				<div class="timer-app__signal uk-hidden">
					<audio controls src="img/signal.mp3">
						<source src="img/signal.mp3" type="audio/mpeg">
					</audio>
				</div>

			</div>

		</div>
	</section><!-- end timer-section -->
	
	{% include './includes/components/slider-section.twig' %}

{% endblock %}

